
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,400i,700,700i');
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$grid-gutter-width: 16px !default;
// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
}

h1, h2 {
  margin: 0;
}

.chat-header {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 10px 0;
  background-color: tomato;
  color: #ffffff;
  font-weight: normal;
  h1 {
    font-weight: 300;
    text-align: center;
  }
}

.wrapper {
  position: relative;
}

.login-wrapper {
  background-color: tomato;
  height: 100vh;
}

.login-controls {
  margin-top: 100px;
  h1{
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 62px;
    margin-bottom: 36px;
  }
  input {
    color: #fff;    
    display: block;
    text-align: center;
    font-size: 22px;
    padding: 16px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    background-color: transparent;
    &::-webkit-input-placeholder{
      transition: color 100ms ease-in-out;
      color: white;
    }
    &:focus{
      outline: none;
      &::-webkit-input-placeholder{
        color: transparent;
      }
    }
    &.un-input{
      border-radius: 0;
      border: 0;
      border-bottom: 2px solid #fff;
      width: 100%;
    }
    &[type="submit"]{
      padding-left: 30px;
      padding-right: 30px;
      margin: 40px auto;
      transition: color, background 150ms ease-in-out;
      &:hover {
        background: #fff;
        color: tomato;
      }
    }
  }
}

.chat-wrap {
  padding: 75px 0 100px;
  background-color: lighten(tomato, 10%);
  height:100vh;
  overflow: scroll;
}

.msg {
  padding: 10px 0;
  .chat-text {
    font-size: 18px;
    display: inline-block;
    padding: 12px;
    background-color: #fff;
    color: tomato;
    border-radius: 16px;
  }
}
.msg-default{
  text-align: left
}

.msg-user {
  text-align: right
}

.message-composer {
  padding: 16px 0;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

